* {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}

body {
  background-color: #121214;
  color: #312e2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  overflow: auto;
}

.container {
  background-color: #e5e5ef;
  width: 90%;
  margin: auto;

  border: 2px solid #e1e1e6;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 0 2px 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.question {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: pre-line;
}

.answers-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13px;
}

.selectyesornoanyanswers {
  width: max-content;
  white-space: pre-line;
}

.answer:disabled {
  cursor: not-allowed;
}

.next-question {
  margin-top: 32px;
}

.button {
  background-color: #4863f7;
  color: #060000;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 6px;
  min-height: 48px;
  margin: 3px;
  padding: 3 32px;

  transition: filter 0.1s;
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
}

/* Finish game */
.final-message {
  font-size: 20px;
  text-align: center;
}

.final-message span {
  display: block;
  margin-top: 8px;
}

/* General styles */
.hide {
  display: none;
}

.correct {
  background-color: #049b48;
}

.incorrect {}

#div1,
#div2 {
  float: left;
  margin: 10px;
  border: 1px solid black;
  padding: 5%;
  max-width: 90%;
  max-height: 90%;
}

#divanswerdragdrop {
  float: left;
  width: auto;
  height: auto;
  margin: 10px;
  border: 1px solid black;
  padding: 5%;

}

#divalloptionsdragdrop {
  float: left;
  width: auto;
  height: auto;
  margin: 10px;
  border: 1px solid black;
  padding: 5%;
}

h5 {
  padding-top: 15% !important;
}


.explication-container {
  width: 100%;
}

#btverresp {
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  text-align: center;
}

span.question {
  overflow: auto;
}

input[type="radio" i] {
  max-width: 20px;
  margin-left: 20%;
}